body{
			background-image: url("../img/bg.jpg");
			background-position: center;
			background-size: cover;
			position: relative;
		}
		.main{
			max-width: 900px;
			margin : 15% auto;
		}
		.date{
			color: #35afea;
			text-align: left;
			font-size: 35px;
			font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		}
		.time{
			color: #13d82d;
			text-align: center;
			font-size: 200px;
			font-family: 'Digital-7', arial;
        }
		@media only screen and (max-width: 768px) {
			
			body{
				background-color: #000;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: relative;
			}
			.main{
				max-width: 450px;
				margin : 50% auto;
			}

		    .date{
				margin : 0 auto;
				color: #fff;
				text-align: center;
				font-size: 28px;
				font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
				}
			.time{
				color: #11e269;
				text-align: center;
				font-size: 90px;
				font-family: 'Digital-7', arial;
	        }
		}
